<div class="flex-row row">
        {% for flashcard in flashcardcollection.flashcards %}
            <div class="col-xs-12 col-sm-4 col-lg-3">
                <article class="thumbnail">
                    <header>
                        <h3><a href="#">Flashcard {{ loop.index }}</a></h3>
                    </header>
                    <p class="flex-text">{{ flashcard.question[:20] }}...</p>
                </article>
            </div>
        {% endfor %}
        <div class="col-xs-12 col-sm-4 col-lg-3">
            <article class="thumbnail">
                <a href="{{ url_for('.add_flashcard', id=flashcardcollection.id) }}" class="newCollection">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </article>
        </div>
</div>
