{% extends "base.html" %}

{% block title %}Flashcard - {{ flashcardcollection.name }}/Flashcard {{ flashcard.id }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1> {{ flashcardcollection.name }} / Flashcard {{ flashcard.id }} </h1>

        <a href="{{ url_for('.edit_flashcard', collId=flashcardcollection.id, cardId=flashcard.id) }}">
            <span class="label label-primary">Edit</span>
        </a>
    </div>
    <div>
        <h2>Question</h2>
        <div class="flashcard-body">
            {% if flashcard.question_html %}
                <p>{{ flashcard.question_html|safe }}</p>
            {% else %}
                <p>{{ flashcard.question }}</p>
            {% endif %}
        </div>
        <h2>Answer</h2>
        <div class="flashcard-body">
            {% if flashcard.answer_html %}
                <p>{{ flashcard.answer_html|safe }}</p>
            {% else %}
                <p>{{ flashcard.answer }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}