{% extends "base.html" %}

{% block title %}Flashcard - {{ flashcardcollection.name }}/Flashcard {{ flashcard.id }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1> {{ flashcardcollection.name }} / Flashcard {{ flashcard.id }} </h1>
    </div>
    <div>
        <h2>Question</h2>
        {% if flashcard.question_html %}
            <p>{{ flashcard.question_html|safe }}</p>
        {% else %}
            <p>{{ flashcard.question }}</p>
        {% endif %}
        <h2>Answer</h2>
        {% if flashcard.answer_html %}
            <p>{{ flashcard.answer_html|safe }}</p>
        {% else %}
            <p>{{ flashcard.answer }}</p>
        {% endif %}
    </div>
{% endblock %}